<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MyPharmacie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="listMp">
    <ion-list-header>Produits de Mypharmacy</ion-list-header>
    <ion-item *ngFor="let item of listMp" (click)="openMPDetail(item.myPharmaId)">
      <p>{{item.prod.prodName}}</p>
      <!-- <p *ngIf="activeLink === true"> <a [routerLink]="['+details/'+item.id]"> {{item.title}}</a></p>
      <p *ngIf="activeLink === false">{{item.title}}</p> -->
    </ion-item>
  </ion-list>
</ion-content>
